---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LoadScripts from "../components/LoadScripts.astro";
import CardSection from "../components/CardSection.astro";
import CallNow from "../components/CallNow.astro";
import SectionOne from "../components/SectionOne.astro";
import Hero from "../components/Hero.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { buildUrl } from '../helpers/url';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero 
				title="¡MAS DE 30 AÑOS DE EXPERIENCIA!"
				description="¡Ponte en contacto con nosotros y olvídate de las preocupaciones!"
				button="CONTÁCTENOS"
				link={buildUrl('/contacto')}
				image={buildUrl('/dumb.webp')}
				alt="Worker"
			/>

			<CardSection title="SERVICIO DE FONTANERÍA 24H EN MADRID" />

			<CallNow title="¡Soluciones inmediatas con solo una llamada!" button="¡LLAMA YA!" link={buildUrl('/contacto')} />

			<SectionOne 
				title="NUESTROS TRABAJOS"
				subtitle="Fontanería especializada de un complejo industrial"
				description="No solo transformamos hogares: también somos especialistas en instalaciones industriales de alta exigencia. Desde fábricas y almacenes hasta complejos productivos, diseñamos y ejecutamos sistemas de fontanería robustos, seguros y eficientes. Trabajamos con materiales de primera calidad, aplicamos estrictos estándares de seguridad y garantizamos un rendimiento duradero, sin fugas ni interrupciones en tu actividad. Nuestra experiencia acumulada en más de 30 años nos permite abordar con éxito cualquier reto, por grande o complejo que sea."
				button="¡Vea nuestros trabajos!"
				link={buildUrl('/proyectos')}
				image={buildUrl('/gallery/IMG-20240711-WA0019.webp')}
				alt="fontanería de complejo industrial"
			/>
		</main>
		<Footer />
		<LoadScripts />
	</body>
</html>