---
const { image, title, description } = Astro.props;	
---
<div class="col-6 col-md-4 col-lg-3">
	<div class="row">
		<img
			src={ image }
			class="d-block mx-auto img-fluid img-card-jobs"
			alt={ title }
			width="48"
			height="48"
			loading="lazy"
		/>
	</div>
	<div class="row py-4">
		<h5 class="text-center fw-semibold text-primary text-uppercase">
			{ title }
		</h5>
	</div>
	<div class="row">
		<p class="text-center fs-ro">
			{ description }
		</p>
	</div>
</div>

<style lang="scss">
	.img-card-jobs {
		width: 148px;
	}
	.fs-ro {
		font-family: Roboto;
		line-height: 1.55;
		font-size: 13.5pt;
		opacity: 0.9;
	}
</style>