---
	import Card from "./Card.astro"
	const { title } = Astro.props

	import { buildUrl } from '../helpers/url';
---

<div class="wrapper bg-gray pb-5">
<div class="container px-2 py-5">
	<h2 class="fw-bold fs-1 pb-4 pt-2 section-title">{ title }</h2>
	<p class="section-description pb-4">Urgencias de fontanero a domicilio, reparación de fugas de agua, 
		desatrancos sin obras y calefacción. Llámanos al 689 76 63 29 o contáctanos por WhatsApp para atención 
		inmediata en toda la Comunidad de Madrid, incluso festivos y madrugada. Con más de 30 años de experiencia, 
		en BJ Fontaneros resolvemos cualquier avería o instalación de fontanería con rapidez, materiales de alta calidad y 
		soluciones duraderas. Nuestro equipo está disponible los 7 días de la semana para trabajos como sustitución de grifería, 
		reparación de cisternas, instalación y mantenimiento de calderas, así como reformas completas de baño o cocina. 
		Confía en un servicio profesional, cercano y eficaz, pensado para tu tranquilidad.</p>
	<div class="row">
		<Card image={buildUrl("/24h.webp")} title="DISPONIBLES 24H" description="Estamos disponibles las 24 horas del día, y 7 días a la semana. Le ofrecemos soluciones cuando más lo necesita." />
		<Card image={buildUrl("/plumbering_gr.webp")} title="FUGAS DE AGUA" description="Reparamos todo tipo de fugas de agua, roturas, y averías que usted pueda sufrir en su suministro de agua." />
		<Card image={buildUrl("/leak.webp")} title="Desatrancos" description="Nos encargamos de todo tipo de desatrancos, tanto dentro como fuera de casa. Sin obras." />
		<Card image={buildUrl("/plumbering.webp")} title="Grifería" description="Sustitución y reparación de todo tipo de grifería. Realizamos una reparación rápida, y con la máxima calidad." />
		<Card image={buildUrl("/underfloor-heating.webp")} title="CALEFACCIÓN Y CALDERAS" description="Ponemos a punto su sistema de calefacción, y su caldera. También realizamos la sustitución de su caldera." />
		<Card image={buildUrl("/toilet.webp")} title="REPARACIÓN DE CISTERNAS" description="Cambiamos o reparamos el mecanismo de su cisterna, revisamos su instalación, y si es necesario, sustituímos su WC." />
		<Card image={buildUrl("/toilet_mix.webp")} title="RENUEVE SU BAÑO" description="Realizamos la reforma de su baño, cocina, o incluso su casa entera. Pidanos presupuesto sin compromismo." />
		<!-- <Card image={buildUrl("/leak_fuge.webp")} title="FUGAS DE GAS" description="Reparamos tuberías dañadas, y las sustituímos en caso necesario. Todo de una forma limpia, y rápida." /> -->
	</div>
</div>
</div>

<style lang="scss">
	// h2.section-title {
	// 	padding-bottom: 1rem !important;
	// }
	p.section-description {
		font-size: 1.07rem;
		// margin-bottom: 2.5rem;
		opacity: 0.8;
	}
</style>