---
	const { title, description, type, url } = Astro.props
---

<h2 class="fw-bold fs-1 section-title pb-4 pt-4">{ title }</h2>
<p class="pb-3">{ description }</p>
{type === "whatsapp" && 
	<a href={ "https://wa.me/" + url } class="btn btn-primary w-100" aria-label="Whatsapp">Whatsapp</a>
}
{type === "email" && 
	<a href={ "mailto:" + url } class="btn btn-primary w-100" aria-label={ url }>{ url }</a>
}

<style lang="scss">
	.section-title {
		// font-size: 2.8rem !important;
	}
</style>