---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const currentPath = Astro.url.pathname;
const pages = [
	{ name: "Fontanería", href: "/" },
	{ name: "Reformas", href: "/reformas" },
	{ name: "Proyectos", href: "/proyectos" },
	{ name: "Contacto", href: "/contacto" },
];
---

<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand fw-light" href="/">
				<img
					src="/brand.svg"
					alt="B & J"
					width="40"
					height="40"
					class="d-inline-block align-text-center"
				/>
				<span>{SITE_TITLE}</span>
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasNavbar"
				aria-controls="offcanvasNavbar"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="offcanvas offcanvas-end"
				tabindex="-1"
				id="offcanvasNavbar"
				aria-labelledby="offcanvasNavbarLabel"
			>
				<div class="offcanvas-header">
					<h5 class="offcanvas-title fw-light" id="offcanvasNavbarLabel">
						<img
							src="/brand.svg"
							alt="B & J"
							width="40"
							height="40"
							class="d-inline-block align-text-center"
						/>
						<span>
							{SITE_TITLE}
						</span>
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						{pages.map(page => (
							<li>
							  <a 
								href={page.href} 
								class={
								  page.href === '/contacto' 
									? (currentPath === page.href ? 'nav-link active' : 'nav-link btn btn-outline-primary contact-link')
									: (currentPath === page.href ? 'nav-link active' : 'nav-link')
								}
								aria-current={currentPath === page.href ? "page" : undefined}
							  >
								{page.name}
							  </a>
							</li>
						  ))}
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>

<style lang="scss">
	.navbar-brand > span, .offcanvas-title > span {
		margin-left: .65rem;
	}

	header {
		.offcanvas {
			& .active {
				position: relative;
				transition: none !important;
			}

			&.show {
				& .active::after {
					content: "";
					position: absolute;
					left: -18px;
					bottom: 0;
					height: 100%;
					border-left: 8px solid var(--bs-primary);
					transition: border-left 0.1s ease-in-out;
				}

				.contact-link {
					width: 100% !important;
					margin-top: 1rem;

					&::after {
						display: none;
					}
				}
			}
			&:not(.show) {
				& .active::after {
					content: "";
					position: absolute;
					left: 25%;
					bottom: -13px;
					width: 50%;
					border-bottom: 8px solid var(--bs-primary);
				}
			}

			.contact-link {
				margin-left: 1.6rem;
			}
		}
	}

	.contact-link {
		margin-top: 3px;
	}
</style>
