---
import { buildUrl } from '../helpers/url';

const { title, description, button, link, image, alt } = Astro.props;
const coverURL = buildUrl('/cover.webp');
---

<div class="parallax bb-1" style={"--background-image: url(" + coverURL + ");"}>
	<div class="container px-2 py-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-12 col-lg-6 hero-dumb">
				<img
					src={ image }
					class="d-block mx-auto img-fluid"
					alt={ alt }
					width="360"
					height="360"
					loading="lazy"
				/>
			</div>
			<div class="col-lg-6 hero-info">
				<h1 class="display-5 fw-bold lh-1 mb-3 text-light lh-base">
					{ title }
				</h1>
				<p class="lead text-light py-2 fs-3">
					{ description }
				</p>
				<div class="d-grid gap-2 pt-4">
					<a
						type="button"
						class="btn px-4 me-md-2 btn-success shadow-lg"
						href={ link }
						>{ button }</a
					>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.display-5 {
		font-size: 3.5rem;
	}
	.bb-1 {
		border-bottom: 10px solid var(--bs-primary); 
	}
</style>