---
const { title, button, link } = Astro.props;
---

<div class="flag-button bg-gray">
	<div class="container px-2 py-5">
		<div class="row align-items-center">
			<div class="col">
				<h2 class="text-dark display-4 fw-light">{ title }</h2>
			</div>
			<div class="col">
				<a class="btn btn-primary my-3 more-btn" href={ link } role="button">{ button }</a>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.flag-button {
		text-align: center;
	}
	.more-btn {
		width: 80%;
		max-width: 460px;
	}
</style>