---
	const { title, text1, text2, text3 } = Astro.props
---

<div class="wrapper bg-gray pb-4">
<div class="container px-4 py-4">
	<h2 class="fw-bold section-title pb-4 pt-2 fs-1">{ title }</h2>
	<p>{ text1 }</p>
	<p>{ text2 }</p>
	<p>{ text3 }</p>
</div>
</div>

<style lang="scss">
</style>